DJANGO_SECRET_KEY=change-me-with-a-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=puceron.agrobio-bretagne.org
DJANGO_CSRF_TRUSTED_ORIGINS=https://puceron.agrobio-bretagne.org
DJANGO_WAGTAILADMIN_BASE_URL=https://puceron.agrobio-bretagne.org/cms
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.example.org
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=no-reply@example.org
DJANGO_EMAIL_HOST_PASSWORD=change-me-email-password
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_USE_SSL=False
DJANGO_DEFAULT_FROM_EMAIL=PUCERON <no-reply@puceron.agrobio-bretagne.org>

POSTGRES_DB=puceron
POSTGRES_USER=puceron
POSTGRES_PASSWORD=change-me-strong-password
DATABASE_HOST=db
DATABASE_PORT=5432
